<title>Care Watcher Portal</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">

<meta name="description" content="">
<meta name="author" content="">
<meta name="keywords" content="">

<meta property="og:title" content="Oil Patterns"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="https://carewatcherportal.com/"/>
<meta property="og:description" content=""/>

<link rel="alternate" href="https://carewatcherportal.com/" hreflang="en" />
<link rel="canonical" href="https://carewatcherportal.com/" />
<script type='application/ld+json'>
    {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "name": "Care Watcher Portal",
        "url": "https://carewatcherportal.com"
    }
</script>

<link href="/css/libraries/materialize.min.css" type="text/css" rel="stylesheet" />
<link href="/css/main.css" type="text/css" rel="stylesheet" />
