<header>
    <nav>
        <div class="nav-wrapper blue-grey darken-1">
            <a href="/" class="brand-logo center hide-on-med-and-down"><i class="material-icons hide-on-med-and-down">watch</i>CareWatcherPortal</a>
            <ul id="nav-mobile" class="left">
                <li><a href="/">Watcher</a></li>
                <li><a href="/admin/room">Room Management</a></li>
            </ul>
        </div>
    </nav>
</header>
