<header>
    <nav>
        <div class="nav-wrapper blue-grey darken-1">
            <a href="/" class="brand-logo right">CareWatcherPortal</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="/">Watcher</a></li>
                <li><a href="/admin/room">Room Management</a></li>

            </ul>
        </div>
    </nav>
</header>
